div.spade {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 24px;
  height: 24px;
  text-align:left;
  font-size:8px;
  font-weight: normal;
  font-style: normal;
}
div.heart {
  position: absolute;
  top: 0px;
  right: 1px;
  width: 24px;
  height: 24px;
  text-align:right;
  font-size:8px;
  font-weight: normal;
  font-style: normal;
}
div.diamond {
  position: absolute;
  bottom: -16px;
  left: 1px;
  width: 24px;
  height: 24px;
  text-align:left;
  font-size:8px;
  font-weight: normal;
  font-style: normal;
}
div.club {
  position: absolute;
  bottom: -16px;
  right: 1px;
  width: 24px;
  height: 24px;
  text-align:right;
  font-size:8px;
  font-weight: normal;
  font-style: normal;
}
table.grid {
  border-spacing: 2px;
}

table.grid td {
  border: 1px solid #a0a0a0;

  width: 24px;
  height: 24px;
  margin: 1px;
  text-align: center;
  font-family:arial;
  font-size: ;
  font-weight: bold;
  border-radius: 4px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently not supported by any browser */

}

table.stats_bar td {
  border: 1px solid #a0a0a0;
  height: 18px;
  font-family: arial;
  font-size: ;
  font-weight: bold;
  border-radius: 4px;
  padding-left: 5px;
}
.indent {
  padding-left:5px; 
}


/* Main cell with text */
.cell {
  position: relative;
  width: 24px;
  height: 24px;
  #vertical-align:middle;		

  text-align: center;
  line-height: 24px;
  font-size: ;
}

.suit_cell {
  //width: 24px;
  //height: 24px;
  #vertical-align:middle;

  background-color: RGB(240, 240, 240);

  text-align: center;
  line-height: 24px;
  font-size: ;
}


table td {
  color: RGB(0, 0, 0);
  font-size: 11px;
}

table{
  color:inherit;
}

table stats {
  color:inherit;
}

table.stats td {
  color:inherit;

  border: 0px  solid #a0a0a0;

  margin: 1px;
  border-radius: 0px;
  padding: 0px;
  height: 18px;
  font-family:arial;
  font-size: ;
  font-weight: bold;
  text-align: left;
}


table td.event0 {
  background-color: RGB(255, 255, 255);
  position: relative;
  color: #000000;
}
table td.event0p {
  background-color: #ffffff;
  color: #000000;
  position: relative;
  border: 1px solid #000000;
}
table td.event0a {
  background-color: RGB(255, 255, 255);
  color: #000000;
}
table td.event0s {
  background-color: RGB(255, 255, 255);
  color: #000000;
}

<br />
<b>Warning</b>:  printf(): Too few arguments in <b>/home1/thebonus/public_html/floattheturn/wp_hc/ftt_ranges.php</b> on line <b>410</b><br />





.s_black {
  background-image: url('images/spade-black26.png');
  background-size: 24px;
}
.h_black {
  background-image: url('images/heart-black26.png');
  background-size: 24px;
}
.d_black {
  background-image: url('images/diamond-black26.png');
  background-size: 24px;
}
.c_black {
  background-image: url('images/club-black26.png');
  background-size: 24px;
}
.s_white {
  background-image: url('images/spade-white26.png');
  background-size: 24px;
}
.h_white {
  background-image: url('images/heart-white26.png');
  background-size: 24px;
}
.d_white {
  background-image: url('images/diamond-white26.png');
  background-size: 24px;
}
.c_white {
  background-image: url('images/club-white26.png');
  background-size: 24px;
}



.hide {
  display: none;
}
.show {
}


table td.event1a {
  background-color: RGB(255 ,80, 80);
  color: #000000;
}
table td.event1s, td.event1h, td.event1d, td.event1c  {
  background-color: RGB(255 ,80, 80);
  color: #000000;
  font-style: italic;
  text-decoration: underline;
}
table td.event2a {
  background-color: RGB(40, 40, 215);
  color: #ffffff;
}
table td.event2s, td.event2h, td.event2d, td.event2c  {
  background-color: RGB(40, 40, 215);
  color: #ffffff;
  font-style: italic;
  text-decoration: underline;
}
table td.event3a {
  background-color: RGB(0, 160, 0);
  color: #ffffff;
}
table td.event3s, td.event3h, td.event3d, td.event3c  {
  background-color: RGB(0, 160, 0);
  color: #ffffff;
  font-style: italic;
  text-decoration: underline;
}
table td.event4a {
  background-color: #4D4D4D;
  color: #ffffff;
}
table td.event4s, td.event4h, td.event4d, td.event4c  {
  background-color: #4D4D4D;
  color: #ffffff;
  font-style: italic;
  text-decoration: underline;
}
table td.event5a {
  background-color: #FAA43A;
  color: #000000;
}
table td.event5s, td.event5h, td.event5d, td.event5c  {
  background-color: #FAA43A;
  color: #000000;
  font-style: italic;
  text-decoration: underline;
}
table td.event6a {
  background-color: #F17CB0;
  color: #000000;
}
table td.event6s, td.event6h, td.event6d, td.event6c  {
  background-color: #F17CB0;
  color: #000000;
  font-style: italic;
  text-decoration: underline;
}
table td.event7a {
  background-color: #B2912F;
  color: #000000;
}
table td.event7s, td.event7h, td.event7d, td.event7c  {
  background-color: #B2912F;
  color: #000000;
  font-style: italic;
  text-decoration: underline;
}
table td.event8a {
  background-color: #B276B2;
  color: #000000;
}
table td.event8s, td.event8h, td.event8d, td.event8c  {
  background-color: #B276B2;
  color: #000000;
  font-style: italic;
  text-decoration: underline;
}
table td.event9a {
  background-color: #DECF3F;
  color: #000000;
}
table td.event9s, td.event9h, td.event9d, td.event9c  {
  background-color: #DECF3F;
  color: #000000;
  font-style: italic;
  text-decoration: underline;
}

